@using CVGatorBeta.Commons.Constatns;
@using CVGatorBeta.Commons.Enums;
@using CVGatorBeta.Commons.Interfaces;
@using CVGatorBeta.DTO.Commons;
@using StaticWebApp.CVGatorBetaBlazorWasm.Commons;
@using StaticWebApp.CVGatorBetaBlazorWasm.HttpClients;
@inject FileHttpClient FileHttpClient;
@inject IJSRuntime JS

<div class="col">
    <div class="row">
        <label class="form-label">
            Profile Picture:
        </label>
        <img id="profile-photo" class="img-profile-pic" />
    </div>
    <div class="row">
        <div class="col-5">
            <UploadFileStatus UploadStatus="@File.UploadFileStatus" Message="@File.Message" />
        </div>
    </div>
    <div class="row m-t-2 fs-6">
        <InputFile class="form-control" OnChange="Upload" single />
    </div>
</div>

@code {

    private IJSObjectReference? jsModule;

    [Parameter]
    public FileDto File { get; set; } = null!;

    [Parameter]
    public Guid CandidateId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Shared/UploadFile/UploadFileImage.razor.js");
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        SetFile();
        await SetImageAsync();
    }

    private async Task Upload(InputFileChangeEventArgs e)
    {
        await FileHttpClient.Upload(e.File, File);
    }

    private void SetFile()
    {
        if (File == null)
        {
            File = new FileDto()
                {
                    CandidateId = CandidateId,
                    FileResource = (int)FileResource.CandidatePhoto,
                    UploadFileStatus = (int)UploadStatus.None,

                };
        }
    }

    private async Task SetImageAsync()
    {
        if (File.UploadFileStatus == (int)UploadStatus.Processed)
        {
            var imageStream = await FileHttpClient.DownloadAsync(File.FileId!.Value);
            
            using var dotnetImageStream = new DotNetStreamReference(imageStream);
            
            await jsModule!.InvokeVoidAsync("setImage", "profile-photo", dotnetImageStream);
        }
    }
}